Package: IONIC
Version: 1.0
Architecture: all
Maintainer: Alec Tramell <alectramell@gmail.com>
Priority: extra
Description: Ionic is a game based on the evolution scale. Starting from the gene compilation, onto.. well on.
